:root {
  --custom-height: calc(100vh - 4rem);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .appContainer {
    @apply max-w-6xl mx-auto px-2;
  }
  .mainHeader {
    @apply bg-blue-500 h-16 relative;
  }
  .mainNav {
    @apply absolute top-0 -right-full h-screen w-4/6 bg-indigo-400 z-50 opacity-100 md:static md:h-full md:w-auto md:bg-blue-500;
  }
  .navLink {
    @apply capitalize text-gray-800 text-lg font-semibold hover:text-yellow-400 transition duration-300 ease-in-out;
  }
  .navItem {
    @apply flex flex-col justify-center items-center mt-16 md:mt-0 md:flex-row;
  }
  .logoContainer {
    @apply flex justify-between items-center  h-full;
  }
  .logoText {
    @apply px-2 text-2xl uppercase font-semibold text-indigo-700;
  }
  .banner {
    background-image: repeating-linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.04) 0px,
        rgba(0, 0, 0, 0.04) 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(135deg, rgba(65, 166, 189, 1), rgba(84, 4, 168, 0.8)),
      url("/images/banner.jpg");
    @apply bg-no-repeat bg-center bg-cover z-30 h-custom;
  }
  footer {
    background-image: repeating-linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.04) 0px,
        rgba(0, 0, 0, 0.04) 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(135deg, rgba(65, 166, 189, 1), rgba(84, 4, 168, 0.8));
  }
}
